.contacts-list {
    height: 540px;
    overflow-y: auto;
    margin-top: 10px;

    .arco-list-item {
        cursor: pointer;
    }

    .arco-list-item:hover {
        background-color: #f1f1f1;
    }

    .active {
        background-color: #f1f1f1;
    }
}
