$mw-space: 10px;
.to {
    .room-content-wrapper-item-message {
        color: white;
        background: linear-gradient(90deg, #1790ff 0%, #1790ff 0%, rgba(25, 144, 255, 0.62) 100%, rgba(25, 144, 255, 0.62) 100%);
    }
    .room-content-wrapper-item-avatar {
        margin-left: $mw-space;
    }
}

.room-content-wrapper-item-message {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    white-space: pre-line;
    max-width: 100%;
}

.form {
    .room-content-wrapper-item-message {
        background: #40af44;
        color: white;
    }
}

.form {
    .room-content-wrapper-item-avatar {
        margin-right: $mw-space;
    }
}
