.profile-container {
    width: 300px;
    height: 500px;
    // background-image: url(https://cdn.surest.cn/images/svg.png);
    background-repeat: no-repeat;
    background-size: 100% 280px;

    .avatar {
        margin-left: 90px;
    }
}
