.icon-select svg {
    color: #0a93ed !important;
    font-size: 20px;
    margin-top: 10px;
    // padding: 10px;
    padding-bottom: 5px;
}

.icons {
    width: 70px !important;

    .arco-select-view-value {
        display: flex;
        align-items: center;
    }
}
