.setting-container {
    background-color: #edeff3;
    width: 100%;
    padding: 20px;

    .setting-card {
        border-radius: 12px;
        padding: 20px;
        background-color: white;
        height: 93vh;
    }
}
