.w-chat-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: calc(100vh - 60px - 68px);
    overflow-y: auto;
    overflow-x: hidden;

    .message-to {
        > img {
            margin-left: 10px;
        }
        .message-content {
            background-color: rgba(149, 236, 105, 100);
        }

        .message-content:hover {
            background-color: rgba(149, 236, 55, 100);
        }

        > div {
            text-align: right;
        }
    }

    .message-from {
        > img {
            margin-right: 10px;
        }
        .message-content {
            background-color: rgba(235, 235, 235, 100);
        }

        .message-content:hover {
            background-color: rgba(240, 240, 240, 90);
        }
    }

    .message-wrapper {
        padding-top: 20px;

        .message-avatar {
            width: 36px;
            height: 36px;
            border-radius: 8px;
        }
        .message-at {
            color: rgba(165, 166, 165, 100);
            font-size: 12px;
        }
        .message-content {
            margin-top: 5px;
            line-height: 20px;
            border-radius: 5px 5px 5px 5px;
            padding: 10px;
            cursor: pointer;
            transition: 0.1s;

            img {
                max-width: 100px;
                border: 1px solid #ebebeb;
            }
        }
    }

    .w-chat-load-tip {
        text-align: center;
        padding-top: 5px;
        margin-bottom: 5px;
        color: #a59a9a;
        font-size: 12px;
    }
}
