.record-audio {
    position: relative;
    margin-right: 6px;
    max-width: 116px;
    min-width: 30px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px 0 10px;
    border-radius: 2px;
    color: #000;
    text-align: right;
    background-color: rgba(107, 197, 107, 0.85);

    span {
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        transform-origin: center;
    }

    span:nth-child(1) {
        font-weight: 400;
    }

    span:nth-child(2) {
        transform: scale(0.8);
        font-weight: 500;
    }

    span:nth-child(3) {
        transform: scale(0.5);
        font-weight: 700;
    }
}
