$mw: 36px;
$mw-space: 10px;

#root {
    // height: 100vh;
    width: 100%;
    min-height: 600px;
}

.app {
    background-image: url(https://img.js.design/assets/Resources/background/login-bg-5.jpg);
    height: 100vh;
    width: 100%;
}

.app-mobile {
    height: 100vh;
    width: 100%;
    line-height: 1.5;
}

.start-btn {
    position: fixed;
    bottom: 20px;
    left: 30px;
}

.tilt-in-fwd-br {
    -webkit-animation: tilt-in-fwd-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: tilt-in-fwd-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

svg {
    display: inline-block;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.room-content {
    overflow-y: auto;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    height: 430px;
    overflow-x: hidden;
}

.room-content-wrapper-item-avatar {
    width: $mw;
    height: $mw;
    .avatar > div {
        width: $mw;
        height: $mw;
    }
    .avatar img {
        width: $mw;
        height: $mw;
    }
}

.room-content-wrapper-item.to {
    margin-left: $mw + $mw-space;
}

.room-content-wrapper-item.form {
    margin-right: $mw + $mw-space;
}

.room-content-wrapper-item {
    margin-top: 20px;
}

.im-wrapper .modal-box {
    max-width: 90% !important;
    background-position: center center;
    background-size: cover;
    background-image: url(https://cdn.surest.cn/images/im-background.jpg);
    background-repeat: no-repeat;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.scrollbar::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgb(0 0 0);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.room-body img {
    max-width: 100px !important;
    border: 1px solid #f6f6f6 !important;
    border-radius: 5px !important;
    display: inline-block !important;
    margin-right: 5px;
}

.room {
    // max-width: 1100px;
    // min-height: 90vh;
    margin: 0 auto;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    // margin-top: 20px;

    // max-width: 90% !important;
    // background-position: center center;
}

.room-body {
    border-top: 1px solid #f0f0f0;
    background-size: cover;
    // background-image: url(https://cdn.surest.cn/im-background-v2.jpeg);
    background-repeat: no-repeat;
    padding: 2px;
}

.room-content-title {
    // height: 67px;
    align-items: center;
    .title-avatar {
        margin-left: 16px;
    }
    .title-name {
        height: 30px;
        display: block;
        line-height: 30px;
        margin-left: 5px;
    }
    margin-bottom: 10px;
}

.tranform:hover {
    transform: scale(1.2);
    transition: all 500ms linear;
}

.bg-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

html,
body {
    // line-height: 0 !important;
}

.room-modal {
    width: 1100px;
    height: 600px;

    .loadin-container {
        height: 600px;
    }
    // border-radius: 16px !important;
    .arco-modal-content {
        padding: 0;
    }
}

.room-container {
    height: 600px;
}

.icon-select {
    fill: #1990ff !important;
    color: #1990ff !important;
}

.card-wrapper {
    border-radius: 12px;
    padding: 20px;
    background-color: white;
    height: 93vh;
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 600px) {
    .room-container {
        max-width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .app {
        height: 100vh;
    }

    .room-container .room-body,
    .room-container .chat-body {
        height: calc(100vh - 80px);
    }

    .room-content {
        height: calc(100% - 80px);
    }
}
