.search-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // display: flex;
    // flex-direction: column;
    // -webkit-box-pack: start;
    // justify-content: flex-start;
    // position: absolute;
    // inset: 0px;
    // overflow: hidden;
    // background: rgb(255, 255, 255);
    // text-size-adjust: 100%;
    // .search-ipt-container {
    //     height: 75px;
    //     overflow-y: hidden;
    // }
    // .serach-ipt {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: flex-start;
    //     max-height: 100%;
    //     box-sizing: border-box;
    //     padding: 24px 8px;
    //     .search-left-icon-container {
    //         position: relative;
    //         top: -12px;
    //         width: 51px;
    //         height: 51px;
    //         margin-bottom: -5px;
    //         margin-right: 2px
    //     }
    //     .search-left-icon-content {
    //         width: 51px;
    //         height: 51px;
    //         padding: 8px;
    //         margin: 0px auto 0px -2.5px;
    //         box-sizing: border-box;
    //         border-radius: 8px;
    //         display: flex;
    //         -webkit-box-align: center;
    //         align-items: center;
    //         transform: translateZ(0px);
    //     }
    // }
}